* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: gray;
}

.container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.homepageCarousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 150px;
	display: flex;
	align-items: center;
}

button {
	width: 80px;
	height: 30px;
}

.fullScreen {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 100%;
}

video {
	height: 100%;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.categories {
	display: flex;
	align-items: center;
}

.hidden {
	display: none;
}

img {
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	margin: 20px;
}

h1 {
	color: white;
	font-size: 5em;
	text-shadow: horizontal-offset vertical-offset blur color;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.arrows {
	text-shadow: horizontal-offset vertical-offset blur color;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.arrows:hover {
	color: #cecece;
}

@media (max-width: 800px) {
	img {
		width: 100%;

		object-fit: cover;
	}
	.container {
		width: 100%;
	}

	.homepageCarousel {
		width: 100%;
		margin: 0;
	}

	.categories {
		width: 100%;

		height: 800px;
	}

	.arrows {
		display: none;
	}
}
