* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: gray;
}

.container {
	display: flex;
	align-items: center;

	width: 100%;
	height: 100vh;
}

.homepageCarousel {
	background: red;
	display: flex;
	align-items: center;
	height: 300px;
}

.categories {
	width: 500px;
	background: green;
	height: 200px;
}

button {
	width: 80px;
	height: 30px;
}
